<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>
      [% title %]
    </title>
    <script
    src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAO1tuVN09fTNsnuF3Gue90RQgE-WD94c_fvQfxZ82r1L-tc40dhTXa2-dAcSxPZbh3GrxAkPefvHWUQ" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-gb" />
    <link href="[% c.uri_for('/static/main.css') %]" rel="stylesheet" rev="stylesheet" type="text/css" media="screen" />
  </head>
  <body[% IF country %] onload="load();"[% END %]>
    <div id="page">
      <div id="header">
        <div id="homepage_link">
          <a href="[% c.uri_for('/') %]"></a>
        </div>
        <div id="search_form">
          <a href="[% c.uri_for('/') %]"></a>
          <form action="[% c.uri_for('/search') %]" method="get" id="search" name="search">
            <input type="text" name="q" id="search_box" alt="Search" value="[% search | html %]"/>
          </form>
        </div>
      </div>
      <div id="body">
        <div id="left_column">
          <div class="side_group">
            <div class="side_panel doc_panel">
              <p>
                What
              </p>
              <ul>
                <li>
                  <a href="[% c.uri_for('/overview') %]">Overview</a>
                </li>
                <li>
                  <a href="[% c.uri_for('/license') %]">License</a>
                </li>
              </ul>
            </div>
            <div class="side_panel doc_panel">
              <p>
                Where
              </p>
                <li><a href="[% c.uri_for('/country') %]">All Countries</a></li>
                <li>
                [% FOR letter IN letters %]
                <a href="[% letter.href %]">[% letter.display %]</a>&nbsp;
                [% END %]
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="centre_column">
          <div id="content_header">
            <div id="title_bar">
              <div id="page_name">
                <h1>
                  [% title %]
                </h1>
              </div>
            </div>
            <div id="breadcrumbs">
              Home
            </div>
          </div>
          <div id="content_body">
            <!--[if lt IE 7]>
 <div class="noscript">
   <p>
     <strong>It looks like you're using Internet Explorer 6. This is a very old
     browser which does not offer full support for modern websites.</strong>
   </p>
   <p>
     Unfortunately this means that this website will not work on
     your computer.
   </p>
   <p>
     Don't miss out though! To view the site (and get a better experience from
     many other websites), simply upgrade to
     <a href="http://www.microsoft.com/windows/Internet-explorer/default.aspx">Internet
Explorer 8</a>
     or download an alternative browser such as
     <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox</a>,
     <a href="http://www.apple.com/safari/download/">Safari</a>, or
     <a href="http://www.google.co.uk/chrome">Google Chrome</a>.
   </p>
   <p>
     All of these browsers are free. If you're using a PC at work, you may
     need to contact your IT administrator.
   </p>
 </div>
<![endif]-->
            [% content -%]
          </div>
        </div>
        <div id="right_column">
          <div class="side_group">
            <div class="side_panel tools_panel">
              <p><a href="[% c.uri_for('/user') %]">Who are you?</a></p>
              <ul>
                [% IF c.user_exists %]
                <li><a href="[% c.uri_for('/user', c.user.username) %]">Hi [% c.user.first_name %]!</a></li>
                <li><a href="[% c.uri_for('/logout') %]">Logout</a></li>
                [% ELSE %] 
                <li><a href="[% c.uri_for('/login') %]">Login</a></li>
                [% END %]
              </ul>
            </div>
          </div>
          <div class="side_group">
            <div class="side_panel tools_panel">
              <p>
                <a href="[% c.uri_for('/technology') %]">Technologies</a>
              </p>
              <ul>
                <li><a href="[% c.uri_for('/technology') %]">For teh (sic) geeks</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        <div id="footer_content"></div>
      </div>
    </div>
  </body>
</html>
