<h1>License</h1>

<p>All data in this site is pulled from freely available sources.  In
particular, we use:</p>

<ul>
  <li><a href="http://www.freebase.com/">Freebase</a></li>
  <li><a href="http://www.wikipedia.org/">Wikipedia</a></li>
</ul>

<p>Thus, permission is granted to freely reuse all data derived from this
site.</p>
