<h1>What's It All About?</h1>

<p>This is me (Ovid) just playing around with various Web technologies.
Eventually, we might get around to making this a full site for would-be
expatriates to find out what countries they want to visit.</p>
